<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Composite.Data.Plugins.XmlDataProviderConfiguration" type="Composite.Plugins.Data.DataProviders.XmlDataProvider.XmlDataProviderConfigurationSection, Composite, Version=4.1.5058.34326, Culture=neutral, PublicKeyToken=null" />
    </configSections>
</configuration>